*{
    font-size: 120%;
    color: rgb(114, 114, 114);
}

h1{
    font-size: 75px;
}

body{background-color: rgb(0, 0, 0);}

button{
    background-color:  blue;
    color:  whitesmoke;
    border-radius:25px;
    height: 100px;
}